*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #c8cfcf5e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}

section{
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 7px 7px 25px gray;
}
header{
    background-color: #631886;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: white;
    font-size: 17px;
    padding: 10px 0;
    border-radius: 10px 10px 0 0; 
}
header img{
    width: 30px;
}

#login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#login h2{
    font-size: 16px;
    color: navy;
    margin-top: 20px;
    margin-bottom: 10px;
}
.inp{
    width: 220px;
    height: 30px;
    padding-left: 10px;
    border: 0.5px solid #c2c1c1;
    margin-top: 10px;
    border-radius: 5px;
}

#cb{
    width: 220px;
    margin-top: 10px;
    font-size: 12px;
    color: grey;
    display: flex;
    gap: 5px;
}
#cb input{
    border: 0.5px solid #c2c1c1;
}

button{
    width: 220px;
    margin-top: 20px;
    background-color: #631886;
    border: none;
    padding: 6px;
    border-radius: 50px;
    color: white;
    margin-bottom: 40px;
}